@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Fonts */
    --ff-base: 'Signika', sans-serif;
    --ff-mono: monospace;

    --fs-tiny: 1rem;
    --fs-small: 1.6rem;
    --fs-base: 2rem;
    --fs-xl: 2.8rem;

    --fw-normal: 500;
    --fw-bold: 700;

    /* Border radius */
    --bradius: .3rem;
    --bradius-lg: .6rem;

    /* Others */
    --shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));

    /* Theme colors */
    --primary-color: #6366f1;
    --secondary-color: #0ea5e9;
    --body-bg: #e5e7eb;
    --card-bg: #f9fafb;
    --leaderboard-bg: #f3f4f6; /* => alt-bg ?? */
    --font-color: #111827;
    --title-color: #4338ca;
    --button-bg: var(--primary-color); 
    --button-secondary-bg: var(--secondary-color);
    --button-neutral-bg: #d1d5db;
    --button-color: #fff;
    --input-bg: #fff;
    --input-border: #e5e7eb;
    --timer-color: var(--primary-color);
    --timer-finished-color: #e11d48;
    --answer-right-bg: #34d399;
}

body {
    background-color: var(--body-bg);
    color: var(--font-color);
    font-family: var(--ff-base);
    font-weight: var(--fw-normal);
    font-size: var(--fs-base);
}